nav{
    background-color: rgb(91, 57, 145);
    color: rgb(134, 167, 240);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style: none;
}

nav li a{
    color: rgb(221, 236, 228);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color:yellow;
    text-decoration: none;
    font-size: larger;
}